doctype html
html
    head
        title Lista kontaktów
        link(rel="stylesheet", href="/contactsview.css")

    body
        h1 Lista kontaktów
        table
            thead
                tr
                    th Email
                    th Imię
                    th Nazwisko
                    th Kategoria
                    th Hasło
                    th Numer telefonu
                    th Akcje
            tbody
                each contact in contacts
                    tr
                        td= contact.Email
                        td(class=`first-name-${contact.id}`)= contact.FirstName
                        td(class=`last-name-${contact.id}`)= contact.LastName
                        td(class=`category-${contact.id}`)= contact.Category
                        td(class=`password-${contact.id}`)= contact.Password
                        td(class=`phone-number-${contact.id}`)= contact.PhoneNumber
                        td
                            form(action='/update/', method='post')
                                input(type='hidden', name='id', value=contact.id)
                                input(type='text', name='newFirstName', value=contact.FirstName)
                                input(type='text', name='newLastName', value=contact.LastName)
                                input(type='text', name='newEmail', value=contact.Email)
                                input(type='text', name='newPassword', value=contact.Password)
                                input(type='text', name='newPhoneNumber', value=contact.PhoneNumber)
                                select(name='newCategory')
                                    option(value='Family', selected=contact.Category === 'Family') Family
                                    option(value='Work', selected=contact.Category === 'Work') Work
                                    option(value='Friends', selected=contact.Category === 'Friends') Friends
                                button.btn.btn-success(type='submit') Edit
                            form(action=`/delete/${contact.id}`, method='post')
                                input(type='hidden', name='_method', value='DELETE')
                                button.btn.btn-danger(type='submit') Delete
